/* GLOBAL */

h1 {
    font-family: 'Mikado';
    color: white;
    font-weight: 900;
    font-size: 8vw;
    letter-spacing: 1;
    margin: 0;
}

h2 {
    font-family: 'Mikado';
    font-weight: bold;
    font-size: 2em;
}


p {
    font-family: 'Avenir-Book';
    color: #000;
    font-size: 1em;
    line-height: 1.8;
}

/* BURGER */

#Burger {
    position: fixed;
    z-index: 1001;
}

#BurgerDesktop {
    display: flex;
    flex-wrap: wrap;
    align-items: space-between;
    width: 24px;
    height: 24px;
    margin-top: 40px;
    margin-left: 40px;
    position: relative;
    z-index: 9999;
    cursor: pointer;

}

#BurgerDesktop:hover~.trait {
    background-color: #FDDB17;
    cursor: pointer;
}

.trait {
    width: 24px;
    height: 4px;
    background-color: white;
}

#Trait1,
#Trait2,
#Trait3 {
    transition: all .2s ease;
    transform-origin: 10% 50%;
}

/* MENU BURGER */

.menuBurger {
    width: 100vw;
    height: 100vh;
    background-color: #280A56;
    top: 0px;
    left: 0px;
    position: fixed;
    margin-left: -100vw;
    transition: all 0.5s ease-out;
    display: flex;
    flex-wrap: nowrap;
    z-index: 1000;
}

@media screen and (max-width: 768px) {
    .menuBurger {
        flex-direction: column;
        width: 100vw;
    }

    .menuProjets {
        height: 65vh;
        width: 100%;
    }

    .menuLinks {
        height: 35vh;
        width: 100%;
    }

}

.menuProjets {
    width: 100%;
    height: 100vh;
    margin: auto;
    align-content: center;
    justify-content: center;
    align-items: center;
    display: flex;
}

.menuProjets ul {
    list-style: none;
}

.menuProjets ul li {
    margin-bottom: 5vh;

}

.menuProjets ul li a {
    text-decoration: none;
    font-family: 'Mikado';
    color: white;
    font-size: 6vh;
    margin: auto 5vh;
    transition: ease-in-out all 300ms;
}

.menuProjets ul li a:hover {
    color: #FF5B6D;
}

.menuLinks {
    background-color: rgb(23, 4, 51);
    min-width: 400px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.menuLinks ul li a {
    text-decoration: none;
    font-family: 'Mikado';
    color: white;
    font-size: 4vh;
    margin: auto 2vh;
    transition: ease-in-out all 300ms;
}

.menuLinks ul {
    list-style: none;
    margin: auto;
    text-align: center;
}

.menuLinks ul li {
    margin-bottom: 5vh;
}

.menuLinks ul li a:hover {
    color: #FF5B6D;
}

/* STRUCTURE */

body {
    width: 100vw;
    top: 0px;
    left: 0px;
    margin: 0px;
}

section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
}

nav {
    width: 100%;
    height: 80px;
    margin: auto;
    position: absolute;
}

@keyframes Slide {
    0% {
        transform: translateY(0%);
        opacity: 0;
    }

    90% {
        transform: translateY(60%)
    }

    100% {
        transform: translateY(50%);
        opacity: 1;
    }
}

.picto {
    height: 8em;
    width: 20em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: -35px auto;
}

#picto1 {
    background-image: url("img/social/facebook.svg");
    opacity: 0;
    width: 3em;
    height: 3em;
    animation: 150ms ease-in 1s 1 forwards Slide;
}

#picto1:hover {
    background-image: url("img/social/facebook_hover.svg");
    cursor: pointer;

}

#picto2 {
    background-image: url("img/social/insta.svg");
    opacity: 0;
    animation: 150ms ease-in 1.10s 1 forwards Slide;
    width: 3em;
    height: 3em;
}

#picto2:hover {
    background-image: url("img/social/insta_hover.svg");
    cursor: pointer;
}

#picto3 {
    background-image: url("img/social/twitter.svg");
    opacity: 0;
    animation: 150ms ease-in 1.20s 1 forwards Slide;
    width: 3em;
    height: 3em;
}

#picto3:hover {
    background-image: url("img/social/twitter_hover.svg");
    cursor: pointer;
}


#picto4 {
    background-image: url("img/social/youtube.svg");
    opacity: 0;
    animation: 150ms ease-in 1.30s 1 forwards Slide;
    width: 3em;
    height: 3em;
}

#picto4:hover {
    background-image: url("img/social/youtube_hover.svg");
    cursor: pointer;
}

.socialSquare {
    width: 2em;
    height: 2em;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.partOne {
    width: 55%;
    height: 80%;
}

.partTwo {
    width: 35%;
}

@media screen and (max-width: 768px) {
    section {
        flex-direction: column;
    }

    .partOne {
        width: 80%;
        height: 50%;
        order: 1;
    }

    .partTwo {
        width: 80%;
        height: 50%;
        order: 2;
    }
}

header {
    height: 100vh;
    width: 100vw;
    background-color: #FDDB17;
    top: 0px;
    left: 0px;
}

/* HERO */

.helloWorld {
    float: right;
    margin: 8vw;
}

#hero {
    display: flex;
    height: 50%;
    width: 80%;
    margin: auto;
    padding-top: 10%;
}

#hero img {
    height: 25vw;
    width: auto;
}

#hero h1 {
    font-size: 5vw;
}

.mainCta:hover {
    cursor: pointer;
}

.mainCta {
    display: flex;
    align-content: center;
    max-width: 300px;
    width: 100%;
    position: absolute;
    margin-left: calc(50% - 125px);
    top: 75vh;
}

img.shadowCta {
    max-width: 300px;
    width: 100%;
    position: absolute;
    margin: auto;
    margin-top: 3%;
}

img.shapeCta {
    max-width: 300px;
    width: 100%;
    position: absolute;
    margin: auto;
}

.cta_text {
    font-family: 'Mikado';
    letter-spacing: 1.4px;
    color: white;
    font-size: 16px;
    position: absolute;
    text-align: center;
    line-height: 90px;
    max-width: 300px;
    width: 100%;

}

#space {
    height: 100vh;
    width: 100vw;
}

#sky {
    height: 100vh;
    width: 100vw;
}

#city {
    height: 100vh;
    width: 100vw;
}

#forest {
    height: 100vh;
    width: 100vw;
}

#beach {
    height: 100vh;
    width: 100vw;
}

#ocean {
    height: 100vh;
    width: 100vw;
}

/* FOOTER */

footer {
    height: 100vh;
    width: 100vw;
    background-color: #280A56;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}
/* FOOTER PART 1*/

#foot1 {
    height: 80%;
    width: 23%;
    /* background-color: red;*/
} 

.list_footer{
    text-decoration: none;
    list-style: none;
    font-family: 'Avenir-Book';
    color: white;
    font-size: 1.5em;
    margin-left:5vw;
    margin-top: 0;
    padding-left: 20px;
}

.item_list{
    margin-bottom: 20px;
    transition: ease-in-out all 300ms;
    cursor: pointer;
}

.logo_footer{
    width:115px;
    margin-left: 5vw;
    margin-bottom: 5vh;
}

/* FOOTER PART 2*/

#foot2 {
    height: 80%;
    width: 44%;
    
}

.partner{
    width:80%;
    height: 90%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    margin-left: 5vw;  
    justify-content: center;
}

.item1{
    width: 150px;
    height:100px;
    background-color: #FF5B6D;
    margin-right: 15px;
    margin-bottom: 15px;
}

/* FOOTER PART 3*/

#foot3 {
    height: 80%;
    width: 23%;
    /* background-color: white; */
}

.picto_footer{
    margin-left: -10px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.titre_footer{
    color: white;
    margin-left:5Vw;
    margin-bottom: 5vh;
    
}

/*FOOTER RESPONSIVE */

@media screen and (max-width: 768px) {
    footer {
        height: auto;
        min-height: 100vh;
        flex-direction: column;
    }
    #foot1 {
        width: 80%;
        height: 23%;
        display: flex;
    }

    .list_footer{
        margin: auto;
    }

    
    #foot2 {
        width: 80%;
        height: 44%;
    }
    #foot3 {
        width: 80%;
        height: 23%;
    }
}


/* COLOR */

.titreSpace {
    color: #1B123F;
}

.titreSky {
    color: #4A9EDD;
}

.titreCity {
    color: #515151;
}

.titreForest {
    color: #1BD968;
}

.titreBeach {
    color: #FFDB00;
}

.titreOcean {
    color: #4A5BDD;
}

.titreEarth {
    color: #B85725;
}

/* BLOCS TEXTES */

#textRight {
    max-width: 345px;
    width: 100%;
}

#textLeft {
    max-width: 345px;
    width: 100%;
    float: right;
}


/* CTA */

.cta {
    height: 60px;
    width: 250px;
    border-radius: 4px;
    text-align: center;
    outline: none;
    border: none;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 5%;
}

#ctaSpace {
    background-color: #1B123F;
}

#ctaSky {
    background-color: #4A9EDD;
}

#ctaCity {
    background-color: #515151;
}

#ctaForest {
    background-color: #1BD968;
}

#ctaBeach {
    background-color: #FFDB00;
}

#ctaOcean {
    background-color: #4A5BDD;
}